<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url"/>
        <property name="connection.driver_class"/>
        <mapping class = "com.example.springdata.entity.enums.Users"/>
        <mapping class = "com.example.springdata.entity.enums.Parametrs"/>
        <mapping class = "com.example.springdata.entity.enums.Dish"/>
        <mapping class = "com.example.springdata.entity.enums.DaillyMenu"/>
        <mapping class = "com.example.springdata.entity.enums.WeeklyDiet"/>
        <mapping class = "com.example.springdata.entity.enums.Meal"/>
        <mapping class = "com.example.springdata.entity.enums.DaillyMenuWeekRateInstance"/>
        <mapping class = "com.example.springdata.entity.enums.UserWeekInstance"/>
        <mapping class = "com.example.springdata.entity.enums.CollectMeal"/>





        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>